<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="/CSS/profile.css">
    <meta charset="UTF-8">
    <title>Profile</title>
</head>

<body>
<a href="/logout" style="color: red; float: right; margin: 10px;">Logout</a>
<h1>User Profile</h1>
<hr>
<!--insert everything here-->
<p>Email: <span th:text="${user.email}"></span></p>
<!--note for self: add validation in backend for email to end with '@gmail.com'-->
<p>First Name: <span th:text="${user.fname}"></span></p>
<p>Last Name:  <span th:text="${user.lname}"></span></p>
<p>Age: <span th:text="${user.age}"></span></p>
<p>ID: <span th:text="${user.id}"></span></p>
<!--note for self: add validation in backend for instructor to start with 'I'-->
<p>Role:<span th:text="${user.role}"></span></p>




</body>

</html>